*{
    margin: 0%;
}


body{
    background: linear-gradient(0deg,#00FFFF  0%,  #000000 100%);
}


html{
    scroll-behavior: smooth;
}


/*----navbar----*/
.navbar__menu ul {
    background-color:white;
}


.navbar__menu li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}


.navbar__menu .menu__link {
    color: black;
    text-decoration: none;
}


.navbar__menu .menu__link:hover{
    background-color: maroon;
    color: white;
    cursor:grab;
}


.active{
    background-color: maroon;    
}


/* add this class to the navbar with JS when scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


h1{
    font-size: 150px;
    color: white;
    margin-top: 200px;
    margin-bottom: 200px;
}


.sections h2{
    text-align: center;
    font-size: 55px;
    color: ghostwhite;
    border-bottom: 1px solid GreenYellow;
    border-top: 1px solid GreenYellow;
    text-underline-position: under;
}


.sections p{
    margin-top: 30px;
    margin-bottom: 200px;
    line-height: 50px;
    font-size: 31px;
    color: ghostwhite;
}


/*------Footer------*/
.myFooter{
     background-color:black;
     padding-top: 15px;
     padding-bottom: 5px;
     margin-top: 30px;
}
 
 
.myFooter h3,p{
     text-align: center;
     font-size: 25px;
     color: white;
     
}
 
 
 #heart{
     color: crimson;
 }

 
/*---Responsive Layout---*/
@media only screen and (min-width: 300px) and (max-width:1100px){
    h1{
        font-size: 100px;
    }
}